[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
python-dotenv = "*"
pytest = "*"
requests = "*"
pytest-asyncio = "*"
asyncpg = "*"
databases = {extras = ["postgresql"], version = "^0.3.2"}

[requires]
python_version = "3.7"
